.popupContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    


    img{
        width: 100%;
        height: 90px;
        object-fit: cover;
        border-radius: 5px;
        padding: 0px;
    }

    .textContainer{
        display: flex;
       
        flex-direction: column;
        justify-content: space-between;
        .link{
            text-decoration: none;
        }
    }
    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        white-space: nowrap;
        
        gap: 5px;
        max-width: max-content;
        .feature{
            display: flex;
            font-size: 10px;
            font-weight: 400;
            align-items: center;
           
            gap: 2px;
            background-color:antiquewhite;
            padding: 5px;
            border-radius: 5px;
            
        }
    }
}


.leaflet-popup-close-button {
    display: none;
  }
  
  .leaflet-popup-content {
    margin: 10px;
  }
  
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: white;
    box-shadow: none;
  }


  .custom-marker-icon {
    background-color: #FFEBCD;
    padding: 5px;
    border-radius: 5px; 
  }