.popupContainer{
    display: flex;
    flex-direction: column;
    
    .link{
      text-decoration: none;
      
  }
}
.nameSpan{
  color: #492B6B;
  font-weight: 600;
  padding-right: 5px;
}

.communitySpan{
  color: #492B6B;
  font-weight: 600;
  padding-right: 5px;
}
.leaflet-popup-close-button {
    display: none;
  }
  
  .leaflet-popup-content {
    margin: 10px;
  }
  
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: white;
    box-shadow: none;
  }


  .custom-marker-icon {
    background-color: #FFEBCD;
    padding: 5px;
    border-radius: 5px; 
  }