.layout{
width: 100%;
}


.content{
    height: calc(100vh - 100px);
    
}
 @media (max-width:738px) {
for small size   
max-width:640px 
} 

 @media (max-width:1024px) {
 for medium size   
 max-width: 768px
} 

 @media (max-width:1366px) {
    max-wdith: 1280px
 for large size   
} 

