.leaflet-container {
  background-color: #f0f0f0; 
}


.communitySpan{
  color: #492B6B;
    font-weight: 600;
    padding-right: 5px;
  }
  .nameSpan{
      color: #492B6B;
      font-weight: 600;
      padding-right: 5px;
    }
    .leaflet-popup-content {
        margin: 10px;
      }
      
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip {
        background-color: white;
        box-shadow: none;
      }
    .leaflet-popup-close-button {
        display: none;
      }
      @keyframes tiltAnimation {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(10deg); }
        75% { transform: rotate(-10deg); }
        100% { transform: rotate(0deg); }
      }
      
      .custom-icon-tilt img {
        animation: tiltAnimation 2s ease-in infinite;
      }