.FooterContainer {
    height: 80px;
    background-color: #492B6B;
    display: flex;
    justify-content: center; 
    @media (max-width:768px) {
      display: none;
    }
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 200px; 
    margin: 0 auto; 
  }
  
  .instagram_footer,
  .share_footer,
  .like_footer {
    font-size: 24px; 
    color: white; 
    margin: 0 20px; 
  }







