.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  text-align: center;
  background-color: #f5f5f5; 
  color: #333; 
  /* padding: 20px; */
padding-top: 20px;
padding-bottom: 60px;
  /* background-image: url('../path/to/PlaygroundPal_hand_icon.svg');  */
  /* background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
}

.color_logo_landing {
  max-width: 800px; 
  margin-bottom: 10px;
}

h1, h2 {
  margin: 10px 0; 
}

p {
  max-width: 600px; 
  margin-bottom: 30px; 
}

.landing_page_button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-family: "Syne", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: 
  linear-gradient(#492B6B, #492B6B) padding-box,
  linear-gradient(60deg, #f8d345, #00b2b4) border-box;
  border: 5px solid transparent;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  font-size: 1.5em;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing_page_button:hover {
  background-color: #0056b3; 
}

.hand_icon_landing {
  margin-top: 30px; 
  max-width: 100px; 
}


@media (max-width: 768px) {
  .home {
    padding: 10px;
    background-size: contain; 
  }

  p {
    max-width: 100%; 
  }

  .landing_page_button {
    padding: 8px 16px; 
    font-size: 16px;
  }
}
