.filter{
display: flex;
flex-direction: column;
gap: 15px;
margin-bottom: 10px;
h1{
    color: #492B6B;
}

label{
    font-size: 20px;
    color: #492B6B;
}

.searchButtons{
  display: flex;
  gap: 5px;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .search{
        display: flex;
        justify-content: space-between;
        gap: 20px;
       
        .inputSearch{
            display: flex;
            width: 100%;
            position: relative;
            
            .search-icon{
                position: absolute;
                right: 10px;
                top: 14px;
                width: 20px;
                @media (max-width: 768px) {
                  display: none;
                }
            }
        }
        .inputSearch input{
            outline: none;
            border: 1px solid #492B6B;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 30px;
        }
        input{
            width: 100%;
            
        }
       
    }
}
.bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
}

.locationButton {
  align-items: center;
  background-color: #492B6B;
  border: 2px solid #FAEBD7;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: white;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  @media (max-width: 768px) {
    font-size: 12px;
    font-weight: 600;
    height: 35px;
  }
  
}
.locationText{
    padding-left: 5px;
}
.icon{
font-size: 20px;
font-weight: 900;
}

.locationButton:focus {
  color: #171e29;
}

.locationButton:hover {
  background-color: #6c4698;
  border-color: #533575;
  fill: #06f;
}

.locationButton:active {
  background-color: #492B6B;
  border-color: #492B6B;
  fill: #06f;
}

@media (min-width: 768px) {
  .locationButton {
    min-width: 170px;
  }
}



.filterButton {
  background-color: #6c4698;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.filterButton:hover,
.filterButton:focus {
  opacity: .75;
}




.equipmentDropdown {
  width: 100%; 
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #6C4698 ; 
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  @media (max-width: 768px) {
    padding: 9px 10px;
    font-size: 10px;
  }
}


.equipmentDropdown:focus {
  box-shadow: 0 0 0 2px #6C4698 
}


.equipmentDropdown {
  appearance: none; 
  -moz-appearance: none; 
  -webkit-appearance: none; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z" fill="6C4698 "/></svg>'); 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  
}
@media (max-width: 768px) {
  .equipmentDropdown option {
    padding: 2px 2px; 
  }
}

option {
  padding: 10px;
  background-color: #fff;
  color: #6C4698 ;

  
}



@media (max-width: 768px) {

  .filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    padding: 4px;
  
  }
  h1{
    font-size: 20px;
    margin-bottom: 10px;
}

  .inputSearch{
    display: flex;
    width: 100px;
    position: relative;
    
    .search-icon{
        position: absolute;
        right: 10px;
        top: 14px;
        width: 20px;
    }

}

.search{
  display: flex;
  gap: 20px;

}


.filterButton {
  background-color: #6c4698;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.filterButton:hover,
.filterButton:focus {
  opacity: .75;
}


}



