.mainContainer{
    display: flex;
    height: 100vh;
    padding-top: 5px;
  
}
.playgroundList{
    flex: 2;
    height: 99vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
 
    .wrapper{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        overflow-y: auto; 

        @media (max-width:768px) {
            gap: 10px;
            padding-right: 5px;
            padding-left: 5px;
        }
    
    }
     
    
}
.mapContainer{
    flex: 3;
    padding-left: 20px;
    height: 100%;
    @media (max-width:768px) {
        height: 100px;
    }
   
    
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
   
  }
  


.loader{
    width: 12px;
    height: 12px;
    background-color:#492B6B;
    border-radius: 50%;
    box-shadow: 32px 0 #492B6B, -32px 0 #492B6B;
    position: relative;
    animation: flash 0.5s ease-in infinite alternate;
    
}
.loader::before,
.loader::after{
    content: "";
    position: absolute;
    left: -64px;
    top: 0;
    background-color: #492B6B;
    width: 12px;
    height: 12px;
    border-radius: 50%;
   transform-origin: 35px -35px;
   transform: rotate(45deg);
   animation: hitL 0.5s ease-in infinite alternate;
}
.loader::after{
    left: 64px;
    transform: rotate(-45deg);
    transform-origin: -35px -35px;
    animation: hitR 0.5s ease-out infinite alternate;
}
@keyframes flash{
    0%, 
    100%{
        background-color: bisque;
        box-shadow: 
        32px 0 bisque,
        -32px 0 bisque;
    }
    25%{
        background-color: bisque;
        box-shadow: 32px 0 bisque, -32px 0 #492B6B;
    }
    50%{
        background-color: #492B6B;
        box-shadow: 32px 0 bisque, -32px 0 bisque;
    }
    75%{
        background-color: bisque;
        box-shadow: 32px 0 #492B6B, -32px 0 bisque;
    }
}

@keyframes hitL {
    0% {
        transform: rotate(0deg); 
        background-color: #492B6B; 
    }
    25%, 100% {
        transform: rotate(45deg); 
        background-color: bisque;
    }
}
@keyframes hitR{
    0%,75%{
        transform: rotate(0deg);
        background-color: bisque;
    }
    100%{
        transform: rotate(-45deg);
        background-color: #492B6B;
    }

}

.toggleButton {
  display: none;
   @media (max-width: 768px) {
    font-size: 35px;
    color: #492B6B;
    display: flex;
    gap: 10px;
    align-items: center;
   }
    
  }

  .toggleHeading{
    font-size: 15px;
  }

@media (max-width: 768px) {
    .mainContainer {
      flex-direction: column;
      padding-top: 0;
      align-items: center;
  
    }
    
    .playgroundList, 
    .mapContainer {
      padding: 0;
      height: auto;
      flex: column;
      overflow: hidden;
    }
  
   
  .playgroundList{
    display: flex;
    flex-direction: column;
    .wrapper{
        overflow-y: scroll;
    }
  }
    .toggleButton button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #492B6B;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .toggleButton button.active {
      background-color: #6c4698;
    }
  }

  @media (max-width: 768px) {
    .mapContainer {
      display: block; 
      height: 100px;
      width: 100%; 
    }
  }